var image = document.getElementById("buddy-small-pic")
var textBuddies = document.getElementById("js-guests")
var joinBtn = document.getElementById("joinButton")

image.innerHTML = '<%= @game.guests.map { |guest| "<img src=\"#{guest.user.photo}\" class=\"buddy-photo small\" alt=\"\">" }.join.html_safe %>'
textBuddies.innerHTML = "<p> <%= @game.guests.size %> buddies out of <%= @game.number_players - 1 %> have joined the game </p>"

if (joinBtn.classList.contains('btn-success')) {
  joinBtn.classList.remove('btn-success');
  joinBtn.classList.add('btn-info');
  joinBtn.innerText = 'Leave Game';
  $('.alert-info').html("<%= render 'shared/flashes'%>");
} else if (joinBtn.classList.contains('btn-info')) {
  joinBtn.classList.remove('btn-info');
  joinBtn.classList.add('btn-success');
  joinBtn.innerText = 'Join Game';
}
