// Specific CSS for your home-page

.homepage-section {
  padding: 0 96px;
}

.form-style {
  width: 25vw;
}

.home-form {
  padding-left: 64px;
  width: 500px;
  position: relative;
  // height: 300px;
  // border: solid 3px green;
}

.home-form h1 {
  margin-bottom: 16px;
  color: $purple;
}

.home-form p {
  padding-bottom: 32px;
}

.letsplay-button {
  margin-top: 32px;
  border: solid 1px $purple;
  border-radius: 50px;
  padding: 16px 64px;
  color: $purple;
}

.letsplay-button:link {
  text-decoration: none;
}

.letsplay-button:hover {
  text-decoration: none;
  color: white;
  background: $purple;
}

.img-home img {
  width: 50vw;
  max-height: 78vh;
  object-fit: cover;
}

.first-section {
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.second-section {
  position: relative;
  top: -220px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.left-img img{
  max-width: calc(100vw - 192px);
}

.features-container {
  position: relative;
  left: -20vw;
  top: 56px;
  // border: solid 3px blue;
}

.features-cards {
  width: 30vw;
  display: flex;
  margin-top: 32px;
  // border: solid 3px blue;
}

.games-nearby {
  position: relative;
  top: -150px;
}

@media only screen and (max-width: 1200px) {
    .second-section {
      flex-direction: column;
      }
    .features-container {
      position: relative;
      left: 0px;
      top: 0px;
      // border: solid 3px blue;
      }
    .features-cards {
      width: 70vw;
      display: flex;
      margin-top: 32px;
      // border: solid 3px blue;
      }
    }

@media only screen and (max-width: 764px) {
  .home-form {
    padding-left: 0px;
    width: 500px;
    position: relative;
    top: -90px;
  }
  .form-style {
  width: 50vw;
  }
  .img-home img {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .home-form {
    position: relative;
    top: -320px;
    left: -20px;
  }
  .img-home {
    position: relative;
    top: -90px;
  }
  .left-img {
    position: relative;
    top: -120px;
  }
  .features-container {
    position: relative;
    top: -100px;
  }
  .homepage-section.games-nearby {
    position: relative;
    top: -220px;
  }
}
