<% conversation.participants.each do |participant| %>
  <% unless participant == current_user %>
    <% if !participant.photo.blank? %>
      <img src="<%= participant.photo %>" class="avatar-bordered"/>
    <% else %>
      <%= gravatar_for participant %>
    <% end %>
    <h5><%= participant.first_name %></h5>
  <% end %>
<% end %>
