<nav>
  <div class="nav nav-tabs-buddies mt-5 content-justify" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active text-center text-warning tab-title" id="nav-buddy-tab" data-toggle="tab" href="#nav-buddies" role="tab" aria-controls="nav-home" aria-selected="true"><h3>Your buddies</h3></a>
    <a class="nav-item nav-link text-center text-warning tab-title" id="nav-users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-profile" aria-selected="false"><h3>Find a buddy</h3></a>
    <a class="nav-item nav-link text-center text-warning tab-title" id="nav-request-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-profile" aria-selected="false"><h3>Buddy requests</h3></a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-buddies" role="tabpanel" aria-labelledby="nav-profile-tab">
    <%= render "users/buddies" %>
  </div>

  <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-profile-tab">
    <%= render "users/non_buddies" %>
  </div>


  <div class="tab-pane fade" id="nav-requests" role="tabpanel" aria-labelledby="nav-request-tab">
   <%= render "users/buddy_requests" %>
  </div>
</div>



<!-- USERS END -->


