<div class="navbar">
  <div class="menu-left1">
    <div>
      <% if params[:controller] == 'pages' %>
        <li class="menu-left1">
      <% else %>
        <li class="menu-left2">
      <% end %>
      <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
    <div>
      <% if params[:controller] == 'games' || params[:controller] == 'courses' %>
        <li class="menu-left1">
      <% else %>
        <li class="menu-left2">
      <% end %>
      <%= link_to "Games", games_upcoming_path, class: "nav-link" %>
    </div>
    <div>
      <% if params[:controller] == 'users' %>
        <li class="menu-left1">
      <% else %>
        <li class="menu-left2">
      <% end %>
      <%= link_to "Buddies", users_path, class: "nav-link" %>
    </div>
  </div>

  <div class="logo">
    <%= image_tag "Logo_GolfyBuddy_v2.png", alt: "alttext", style: "width: 85px;" %>
  </div>

  <div class="row menu-right">
    <div class="button-host">
      <% if user_signed_in? %>
        Host a game
        <% end %>
    </div>

    <div class="avatar1">
      bla
    </div>
  </div>

</div>
