<div class="navbar">
  <div class="row menu-left">
    <div class="col home-btn">
      Home
    </div>

    <div class="col games-btn">
      Games
    </div>

    <div class="col">
      Buddies
    </div>
  </div>

  <div class="logo">
    <%= image_tag "Logo_GolfyBuddy_v2.png", alt: "alttext", style: "width: 85px;" %>
  </div>

  <div class="row menu-right">

    <div class="host-button">
      Host a game
    </div>

    <div class="avatar1">
      a
    </div>

  </div>

</div>
