<div class="navbar">
  <div class="menu-left">
    <div>Home</div>
    <div>Games</div>
    <div>Buddies</div>
  </div>

  <div class="logo">
    <%= image_tag "Logo_GolfyBuddy_v2.png", alt: "alttext", style: "width: 85px;" %>
  </div>

  <div class="row menu-right-test">
    <div class="button-test">
      Host a game
    </div>

    <div class="avatar-test">
      bla
    </div>
  </div>

</div>
