.buddy-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 1%;
  color: #7A6BBD;
  height: 400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all .2s ease-in-out;
  line-height: 0.5;

  // margin-right: 15px;
}
.zmar {
  .zmar:hover {
    text-decoration: none;
  }
}

.tab-title {
  font-size : 40px;
}
.nav {
  justify-content: center;
}
.nav-tabs-buddies {

  border: none;

  .row {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    border: none;
    cursor: pointer !important;
  }
  .active {
    color: red;
    background: none !important;
    border: none;
    border-bottom: 3px solid $purple !important;
  }
}

.btn-accept {
   position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 10%;
  transition: all .2s ease-in-out;
  opacity: 0.7;

}





.buddy-card:hover {
  box-shadow: 0 0 3px rgba(81, 141, 63, 1);
  }

.buddy-photo {
  margin-top: 20px;
  border-radius: 50%;
  width : 150px;
  height: 150px;
}
.msg_btn {
  color: #7A6BBD;
}

.message {
    position: relative;
}

.message .msg_btn {
   position: absolute;
   right: 0;
   left: 0;
    top : 90%;

}

.add_btn {
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all .2s ease-in-out;
  opacity: 0.7;
}

.add_btn:hover {
 transform: scale(1.1);
 opacity: 1;
}

.btn-cancel {
  position: absolute;
  right: 11px;
  top: 15px;
   transition: all .2s ease-in-out;
   border-radius: 15px;
   font-size: 12px;
}
