.buddy-card {
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #7A6BBD;
  height: 450px;
  width: 350px;
  margin: 15px;
  position: relative;
  transition: all .5s ease-in-out;

  // margin-right: 15px;
}

.buddy-card:hover { transform: scale(1.05); }
.buddy-photo {
  margin-top: 20px;
  border-radius: 50%;
  width : 150px;
  height: 150px;
}
.msg_btn {
  color: #7A6BBD;
}

.message {
    position: relative;
}

.message .msg_btn {
   position: absolute;
   right: 0;
   left: 0;
    top : 40px;

}

.add_btn {
  position: absolute;
  right: 15px;
  top: 15px;
   transition: all .2s ease-in-out;
}

.add_btn:hover {
 transform: scale(1.1);
}

.btn-cancel {
  position: absolute;
  right: 11px;
  top: 15px;
   transition: all .2s ease-in-out;
   border-radius: 15px;

   font-size: 12px;

}
