.send-button {
  margin-top: 6px;
  border: solid 1px green;
  border-radius: 50px;
  padding: 6px 12px;
  color: green;
}

.send-button-query {
  margin-top: 6px;
  border: solid 1px $purple;
  border-radius: 50px;
  padding: 6px 12px;
  color: $purple;
  height: 40px;
}

.send-button:hover {
  text-decoration: none;
  color: white;
  background: green;
}

.fa-trash {
  color: grey;
}

.fa-trash:hover {
  color: black;
}

.fa-envelope-open {
  color: grey;
  padding-left: 6px;
}

.fa-envelope-open:hover {
  color: $purple;
}

.fa-envelope {
  color: grey;
}

.fa-envelope:hover {
  color: $purple;
}

.fa-street-view {
    float: right;
    top: 66.5px;
    right: 40px;
    position: relative;
    z-index: 4;
    color: #CFCFCF;
}

.fa-street-view:hover {
  color: #AAAAAA;
}

.fa-trash-restore-alt {
    color: grey;
}

.fa-trash-restore-alt:hover {
    color: black;
}
