.footer {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.footer.hidden {
  display: none;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #4F4F4F;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.color-copyright {
  color: #4F4F4F;
  opacity: 0.7;
}

@media only screen and (max-width: 764px) {
  .footer {
  font-size: 10px;
  padding: 0px 10px;
  }
}
