.box-form {
  input, textarea {
    border-radius: 8px;
    &:focus {
      border-color: #7A6BBD;
      outline-style:none;
      box-shadow:none;    }
  }
}

abbr {
  text-decoration: none !important;
}

label {
  color: rgba(103, 103, 103, 0.9);
}

#btn-form {
  width:180px;
  margin: auto;
  margin-top: 20px;
  border-radius: 32px;
  background: #70B56F;
  color: white;
}

h1 {
  color: rgba(122, 107, 189, 0.7);
  text-align: center;
  margin: 20px;
}

h2 {
  color: rgba(122, 107, 189, 0.7);
  text-align: center;
  margin: 20px;
}




