.box-form {
  input, textarea {
    border-radius: 8px;
    &:focus {
      border-color: $purple;
      outline-style:none;
      box-shadow:none;    }
  }
}

.background-color-form {
    background: rgba(251, 251, 251, 0.6);
}

abbr {
  text-decoration: none !important;
}

label {
  color: rgba(103, 103, 103, 0.9);
}

#btn-form {
  width:180px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 32px;
  background: #70B56F;
  color: white;
}

.form-h1 {
  color: rgba(122, 107, 189, 0.7);
  text-align: center;
  margin: 20px;
}

.form-h2 {
  color: rgba(122, 107, 189, 0.7);
  text-align: center;
  margin: 20px;
}


// Form design
.form-post {
  background: white;
  margin-top: 50px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.preference-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.preference-choice {
  background: #b7b7b7;
  padding: 10px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $purple;
  color: white;
  opacity: 1;
  }
}

.home-border {
    border: none;
    border-bottom: 1px solid $light-grey;
    &:focus {
      outline-style:none;
      box-shadow:none;
      border-bottom: 1px solid $light-green;   }
    // box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
