// .game-cards-container {
//   margin: 0 96px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

.game-cards-container {
  margin: 2vw 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .game-cards-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .game-cards-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 780px) {
  .game-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .game-cards-container {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .game-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.game-card-link {
  width: 100%;
  color: gray;

  h3 {
    color: green;
  }

  &:hover {
    text-decoration: none;
    color: dimgray;
    }
}

// .game-card-link {
//   width: 46%;
//   color: gray;

//   h3 {
//     color: green;
//   }

//   &:hover {
//     text-decoration: none;
//     color: dimgray;
//     }
// }

.game-card {
  margin: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 1%;

  &:hover {
    box-shadow: 0 0 3px rgba(81, 141, 63, 1);
  }
}

// .game-card {
//   // margin: 16px;
//   margin: 16px 0;
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   border-radius: 1%;

//   &:hover {
//     box-shadow: 0 0 5px rgba(81, 141, 63, 1);
//   }

// }

.game-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.game-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.game-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.game-card .game-card-infos {
  padding: 16px;
  position: relative;

  p {
    font-size: 16px;
  }

  h4 {
  font-size: 16px;
  }
}
.game-card-infos .game-card-user {
  position: absolute;
  right: 60px;
  top: 55px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.game-name-game-course {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

#game-host {
  border: green 2px solid;
}

#guest-1 {
  right: 15px;
  top: 55px;
}

#guest-2 {
  right: 60px;
  top: 100px;
}

#guest-3 {
  right: 15px;
  top: 100px;
}
