.game-cards-container {
  margin: 0 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-card-link {
  width: 46%;
  color: gray;

  h3 {
    color: green;
  }

  &:hover {
    text-decoration: none;
    color: dimgray;
    }
}



.game-card {
  // margin: 16px;
  margin: 16px 0;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 1%;

  &:hover {
    box-shadow: 0 0 5px rgba(81, 141, 63, 1);
  }

}

.game-card > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.game-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.game-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.game-card .game-card-infos {
  padding: 16px;
  position: relative;

  p {
    font-size: 16px;
  }
}

.game-card-infos .game-card-user {
  position: absolute;
  right: 60px;
  top: 55px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.game-name-game-course {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

#game-host {
  border: green 2px solid;
}

#guest-1 {
  right: 15px;
  top: 55px;
}

#guest-2 {
  right: 60px;
  top: 100px;
}

#guest-3 {
  right: 15px;
  top: 100px;
}
