.btn-join {
width : 33%;
height : 50px;
border-radius: 15px;
font-size: 25px;
color: white;
}


#buddy-card-container {
  position: relative;
  background-color: red;
}

#buddy-card-show {
// position: absolute;
height: 400px;
right: 20px;
margin-top: 20px;
}
#buddy-card-show:hover {
     transform: none;
  }

.source-sans-pro {
font-family: 'Source Sans Pro', sans-serif;
font-weight: bold;
}

.text-warning {
  opacity: 0.7;
}

.holes {
  position: relative;
  left: 90%;
  top: 55vh;
  width:100px;
  height:30px;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: bold;

}

.line{
    padding-bottom: 20px;
    border-bottom: 1px solid $info;

    }
.row {
  padding-left: 15px;
}

.desc {
  max-width: 592px;
}



.guests {
// position: absolute;
// right : 0.2vw;

}

.small {
width : 30px;
height: 30px;
margin-top: 0;
}

