.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px 96px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.navbar-brand {
  margin-right: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.navbar-burger-box {
  display: none;
}

.menu-left {
  .nav-link {
    padding-left: 0 !important;
    padding-right: 64px !important;
  }
}

.host-button {
  border: solid 1px $purple;
  border-radius: 50px;
  padding: 8px 32px;
  color: $purple;
  margin-right: 32px;
}

.host-button:link {
  text-decoration: none;
}

.host-button:hover {
  text-decoration: none;
  color: white;
  background: $purple;
}

.menu-right {
  .nav-link {
    padding-right: 0 !important;
    padding-left: 64px !important;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-burger-box {
    display: block;
  }

 .host-button, .img-home {
        display: none;
    }

    .second-section {
      flex-direction: column;
    }

    .navbar-lewagon {
      padding: 6px 16px;
    }
}

.dropdown-item:hover {
  background-color: $green;
  color: white;
}

