.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 66px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1000;
}

.menu-left {
  display: flex;
  padding-left: 20px;
}

.menu-left > div {
  margin-left: 60px;
  text-align: center;
}

.logo {
  // position: relative;
  // right: 10vw;
}

.menu-right {
  padding-right: 10px;
}



.menu-right-test{
  padding-left: 40px;
  background-color: orange;
  padding-right: 65px;
}

.button-test {
  background-color: red;
  border: solid 1px $purple;
  color: $purple;
  border-radius: 50px;
  padding: 8px 32px;
}

.avatar-test {
  background-color: blue;
  margin-left: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;

}




// .host-button {
//   border-radius: 50px;
//   border: solid 1px $purple;
//   color: $purple;
//   padding: 8px 32px;
//   position: absolute;
//   right: 10vw;
// }

// .avatar1 {
//   background-color: $purple;
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
// }
