.color-test1 {
 background-color: red;
}

.color-test2 {
  background-color: orange;
}

.color-test3 {
  background-color: green;
  margin-bottom: 20px;
}

.color-test4 {
  background-color: yellow;
}

.form-test {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
