// .search-bar-container {
//   margin: 0 96px;
//   display: flex;
//   justify-content: flex-end;
// }

.search-bar-container {
  margin: 0 5vw;
  // display: flex;
  justify-content: space-between;
  // grid-gap: 24px;
}

.params {
  // display: inline-flex;
  // align-self: flex-end;
  align-items: center;
  margin: 0px 24px;
  font-size: small;
}

#params-reset {
  align-items: flex-end;
  margin: 0px 24px;
  align-self: center;
  font-size: small;
}


.params-all {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // align-self: flex-end;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .params-all {
      justify-content: space-around;
      grid-template-columns: 1fr 1fr;
  }
    #search_games_field{
    display: none;
  }
  #sorted_games_dropdown {
    display: none
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .params-all  {
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
  }
  #search_games_field{
    display: none;
  }
  #sorted_games_dropdown {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .params-all  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .params-all  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #sorted_games_dropdown {
    display: true;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .params-all  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.search-bar {
  margin-top: 16px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  border-color: green;
}
