.search-bar-container {
  margin: 0 96px;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  margin-top: 16px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  border-color: green;
}

.btn-friend-games {
  margin-top: 16px;
  padding: 0px 48px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  border: solid 1px green;
}

.btn-friend-games {
  a {
    text-decoration: none;
    color: purple;
  }
}

a:hover {
  text-decoration: none;
  background: green;
  color: white;
}
